.CUSTOMCARDE{
    text-decoration: none;
    box-shadow: 1px 2px 4px #000000;
}
.CUSTOMCARDE:hover{
    box-shadow:  0 0 0 0;
}
.CUSTOMCARDE .COL{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.CUSTOMCARDE .COL .BUTTON{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#OKAY{
    color: green
}

#NULL{
    color: blue
}

#DEFAULTER{
    color: red;
}

.CUSTOMCARDE .DATA{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.CUSTOMCARDE .ACCOUNT{
    flex:4;
    width: 10vw;
    justify-content: flex-start;
    position: relative;
    left: -5vw;
}

.CUSTOMCARDE .BALANCE{
    flex:3;
    justify-content: center;
}

.CUSTOMCARDE .STATUS{
    flex:4;
    justify-content: flex-end;
}


.CUSTOMCARDE .FROM{
    justify-content: flex-start;
    position: relative;
    left: 2vw;
}


.CUSTOMCARDE .TO{
    justify-content: center;
}

.CUSTOMCARDE .DATE{
    justify-content: flex-end;
}

.CUSTOMCARDE .CBODY{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CUSTOMCARDE .DATA .HEAD1{
    flex: 2;
    width: 15vw;
    margin: 10px;
}

.CUSTOMCARDE .DATA .VALUE{
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
}

.CUSTOMCARDE .DATA .NAME{
    position: relative;
    left: -6vw;
    justify-content: flex-start;
}
