
.DROPDOWNCONTAINER{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.DROPDOWNCONTAINER .COL{
    margin: 10px;
}

.DROPDOWNCONTAINER .COL1{
    flex: 2;
    margin-left: 5vw;
}

.DROPDOWNCONTAINER .COL2{
    flex: 8;
    margin-right: 5vw;
    border-left: 2px solid black;
    padding-left: 10px;
}