.COLOR1{
    background-color: #131a27;
    
}

.COLOR2{
    background-color: #232f4a;
}

.USERBAR{
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    z-index: 10;
}
.USERBAR .PROFILEIMAGE {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.USERBAR .USERDROPDOWN{
    display: flex;
    position: relative;
    /* justify-content: right; */
    right: 0px;
    margin-right: 10px;
}

.USERBAR #navbarDropdown{
    color: white;
}

.USERBAR .dropdown-item{
    color: white;
}

.USERBAR .DROPDOWN{
    background-color: #232f4a;
    cursor: pointer;
}

.USERBAR  .dropdown-item:hover{
    background-color: #131a27;
    color: white;
}

.UPROFILE{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
}
.UPROFILE .BLUR{
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6;
}

.UPROFILE .PROFILECONTAINER{
    background-color: white;
    position: absolute;
    top : 5vh;
    left: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 40px;;
}
.UPROFILE .PROFILEIMAGE{
    position: relative;
    width: 5vh;
    height: 5vh;
    margin: 20px;
    opacity: 0.75;
}

.UPROFILE .USER_DETAILS{
    margin: 20px;
}

.HEADING{
    color: white;
    text-decoration: none;
}
